extends layout

block content

    h1= "Users page"
    p #{users.user1.name}
    p #{users.user1.age}
    p #{users.user1.street}
    p #{users.user1.city}
    p #{users.user1.state}
    p #{users.user1.languages}
    p #{users.user1.programming}
    p #{users.user1.frameworks}


